.FormContainer {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 45%;
  /* border: 1px solid grey; */
  padding: 3rem;
  height: 50%;
}

.Form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* padding: 0 50px; */
  height: 100%;
  text-align: center;
}

.Form h1 {
  font-weight: bold;
}

.Form input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: inherit;
  outline-color: #bebebe;
}

.Form button {
  border-radius: 20px;
  border: 1px solid #CCB5BF;
  background-color: #CCB5BF;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin: 10px 0 0 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  font-family: inherit;
}

.LoginRegisterPage {
  height: 900px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
